@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Colores personalizados */
	--color-primary: #84e5ec; /* azul claro del reproductor */
	--color-border: #1a313f; /* borde oscuro */
	--color-volume-filled: #1a313f; /* color del volumen */
	--color-volume-bg: #ffedad; /* color de la barra de volumen */
	--color-background: #ffc9ce; /* color de fondo */
}

body {
	background-color: var(--color-background);
}
